{% extends 'first/base.html' %}
{% load static %}



{% block main_article %}

    <article class="main-article">
        <h1 class="article-type">Title</h1>
        <div class="home-button"><a href="{% url 'index' %}"></a></div>

        <div class="container">
            {% for item in art_list %}
            <div class="sub-container">
                <div class="article-name">
                    <a href="{% url 'detail' pk=item.pk %}">{{ item.title }}</a>

                </div>
                <div class="article-describe">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, illo.
                </div>
                <div class="read-button"><a href="{% url 'detail' pk=item.pk %}">Read...</a></div>
            </div>
            {% endfor %}



        </div>




    </article>
    
{% endblock %}