{% extends 'first/base.html' %}
{% load static %}


{% block main_banner %}

    <div class="main_banner">
        <img class="home-icon" src="/static/home_icon.png" alt="">
        <div>Soo's SafeHouse</div>

        <div class="border-line"></div>

        <div>안녕하세요 :)</div>

        <div class="border-line"></div>



        <a class="linkbox" href="https://www.instagram.com/l.mm.soo/"><img src="/static/insta.png" alt=""></a>
        <a class="linkbox" href="https://github.com/msl9204"><img src="/static/git.png" alt=""></a>
        <a class="linkbox" href="#"><img src="/static/mail.png" alt=""></a>

        <div class="border-line"></div>

        <div class="tag-container">
            <div class="col">
                <a class="tagbox" href="#">python</a>
                <a class="tagbox" href="#">CSS</a>
                <a class="tagbox" href="#">JAVASCRIPT</a>
                <a class="tagbox" href="#">pythonNNNNN</a>
            </div>
            <div class="col">
                <a class="tagbox" href="#">python</a>
                <a class="tagbox" href="#">python</a>
                <a class="tagbox" href="#">python</a>
                <a class="tagbox" href="#">python</a>
            </div>
            <div class="col">
                <a class="tagbox" href="#">python</a>
                <a class="tagbox" href="#">python</a>
                <a class="tagbox" href="#">python</a>
                <a class="tagbox" href="#">python</a>
            </div>
            <div class="col">
                <a class="tagbox" href="#">python</a>
                <a class="tagbox" href="#">python</a>
                <a class="tagbox" href="#">python</a>
                <a class="tagbox" href="#">python</a>
            </div>



        </div>

    </div>

    {% endblock %}


