body{
    background-image: url('/static/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dropbtn {
    background: transparent;
    position: absolute;
    border: none;
    cursor: pointer;
    top: 50px;
    left: 100px;
    user-select: none;
    outline: none;

}

.dropbtn .img-button {
    widows: 50px;
    height: 50px;
}


.nav {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
    left: 100px;
    border-radius: 4px;
    }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


#drop_id a:nth-child(2)::after {
    position: absolute;
    content: ">";
    left: 130px;
    font-weight: bold;
}

#drop_id a:nth-child(3)::after {
    position: absolute;
    content: ">";
    left: 130px;
    font-weight: bold;
}

.dropdown-content form {
    display: block;
}

.dropdown-content form button {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    padding: 10px 40px;
    margin-bottom: 10px;
    color: black;


}

.dropdown-content a:hover {
    background-color: #ddd;
}

.is-active {
    display: block;
}

.about-hidden a {
    display: flex;
    align-items: center;
    
}


.about-hidden a:first-child {
    background-color: #c2c2c2;

}

.about-hidden a:first-child::before {
    content: "<   ";
    white-space: pre;
    font-weight: bold;
}
.about-hidden a:nth-child(3)::before{
    background-image: url('/static/aboutme.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-right: 10px;
    content:"";
}

.about-hidden a:nth-child(4)::before{
    background-image: url('/static/insta.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-right: 10px;
    content:"";
}

.about-hidden a:nth-child(5)::before{
    background-image: url('/static/git.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-right: 10px;
    content:"";
}

.about-hidden a:nth-child(6)::before{
    background-image: url('/static/mail.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-right: 10px;
    content:"";
}



.post a:first-child {
    background-color: #c2c2c2;

}

.post a:first-child::before {
    content: "<   ";
    white-space: pre;
    font-weight: bold;
}



.main_banner{
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 550px;
    padding: 10px;
    box-shadow: 0px 0px 73px -23px rgba(0,0,0,0.75);

}

.home-icon {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    
}


.border-line{
    border-bottom: 1px solid rgba(0,0, 0, 0.1);
    margin: 20px 0;
}

.linkbox{
    border: 1px solid rgba(0,0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
    padding: 10px;
    margin: 0 20px 0 20px;
    display: inline-block;
}


.linkbox img {
    width: 40px;
    height: 40px;
}

.linkbox:hover img{
    transition: 1s;
    filter: invert(50%) sepia() saturate(100000%)

}

.tag-container {
    display: flex;
}

.tag-container .col {
    flex-basis: auto;
    justify-content: center;

}

.tag-container .col .tagbox {
    border: 1px solid rgba(0,0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
    padding: 10px;
    margin: 5px 20px 5px 20px;
    display: inline-block;
    text-decoration: none;
    flex-wrap: wrap;
}

.tag-container .col .tagbox:hover {
    transition: 0.5s;
    color: red;

}

.main-article {
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    height: auto;
    padding: 10px;
    box-shadow: 0px 0px 73px -23px rgba(0,0,0,0.75);
    overflow-y: hidden;

}




.article-type {
    margin-top: 20px;
    font-weight: bold;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
}

.home-button {
    margin-top: 20px;
    border: 1px solid rgba(0,0, 0, 0.1);
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;

}

.home-button a {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/static/home.png');
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;

}

.main-article .container {
    margin-top: 70px;
    text-align: left;
    padding: 0 100px;
}

.main-article .container .sub-container {
    border-bottom: 1px solid rgba(0,0, 0, 0.1);
}

.main-article .container .article-name{
    margin-top: 50px;
    font-weight: bold;
    font-size: larger;
}

.main-article .container .article-name a {
    text-decoration: none;
    color: black;

}

.main-article .container .article-name a:hover {
    color: red;
    transition: 0.3s;

}

.main-article .container .article-describe{
    margin-top: 10px;
    text-indent: 30px;

}

.main-article .container .read-button {
    margin: 20px 0 20px 0;
    width: 100px;
    height: 50px;


}


.main-article .container .read-button a{
    border: 1px solid rgba(0,0, 0, 0.2);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    display: flex;
    padding: 15px 40px 15px 40px;
    overflow: hidden;
    justify-content: center;
    text-decoration: none;
    color: black;

}

.main-article .container .read-button a:hover{
    color: red;
    transition: 0.3s;

}

/* .main-article .container .read-button::after{
    margin: 0;
    padding: 0;
    display: flex;
    border-bottom: 1px solid black;
    width: 100%;
    height: 100px;
    content: " ";
} */

.main-article .article-date {
    margin-top: 20px;

}

.main-article .back-button {
    
    margin-top: 30px;
}

.main-article .back-button a{
    text-decoration: none;
    color: black;
}

.main-article .title-line {
    border-bottom: 1px solid rgba(0,0, 0, 0.2);
    margin-top: 20px;
}

.main-article .back-button {
    display: flex;
    margin-top: 20px;
    border: 1px solid rgba(0,0, 0, 0.1);
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;

}

.main-article .back-button a {
    justify-content: center;
    padding: 20px;
    margin: auto;
    background-image: url('/static/back.png');
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;

}